<!DOCTYPE html>
<html>
<head>
    <title>Add Note</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Add a Note</h1>
    {% if error %}
        <p class="err">{{ error }}</p>
    {% endif %}
    <div>
        <h3>Note Instructions</h3>
        <ul>
            <li><strong>Headers:</strong> Use `#` for headers. Example: `# Header 1`, `## Header 2`.</li>
            <li><strong>Bold text:</strong> Wrap text in `**`. Example: `**bold**`.</li>
            <li><strong>Italic text:</strong> Wrap text in `*`. Example: `*italic*`.</li>
            <li><strong>Image:</strong> Use `![Alt text](URL)`. Example: `![Image](https://example.com/image.jpg)`.</li>
        </ul>
    </div>
    <form method="POST" action="{{ url_for('notes.add_note') }}">
        <label>Title:</label><br>
        <input type="text" name="title" required><br>
        <textarea name="note" rows="30" cols="60" required></textarea><br>
        <label>In order to sign your note, you need to give your password:</label><br>
        <input type="password" name="password" required><br>

        <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
        <input type="text" name="honeypot" class="honeypot">

        <button type="submit">Add Note</button>
    </form>
    <a href="{{ url_for('home.home') }}">Back to Home</a>

    
</body>
</html>
