<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Change Password</h1>
        <form method="POST" action="{{ url_for('pass_control.change_password') }}">
            {% if error %}
                <div class="err">{{ error }}</div>
            {% endif %}
            <label for="current_password">Current Password</label><br>
            <input type="password" id="current_password" name="current_password" required><br>

            <label for="new_password">New Password</label><br>
            <input type="password" name="new_password" required id="password"><br>
            <span id="password-strength"></span><br>
            <label>Repeat password:</label><br>
            <input type="password" name="repeat_password" required><br>

            <label for="totp_code">Two-Factor Authentication Code</label><br>
            <input type="text" id="totp_code" name="totp_code" required><br>

            <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
            <input type="text" name="honeypot" class="honeypot">

            <button type="submit">Change Password</button>
        </form>
        <a href="{{ url_for('home.home') }}">Back to Home</a>
    </div>
    <script src="{{ url_for('static', filename='js/password_strength.js') }}"></script>

    </body>
</html>
