<!DOCTYPE html>
<html>
<head>
    <title>Forgot password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Insert email for password recovery link</h1>
    {% if error %}
        <p class="err">{{ error }}</p>
    {% endif %}
    <form method="POST" action="{{ url_for('pass_control.forgot_password') }}">
        <label>Email:</label><br>
        <input type="text" name="email" required><br>

        <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
        <input type="text" name="honeypot" class="honeypot">

        <button type="submit">Send</button>
        
    </form>
    <a href="{{ url_for('home.home') }}">Back to Home</a>
</body>
</html>
