<!DOCTYPE html>
<html>
<head>
    <title>Reset password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Reset password</h1>
    {% if error %}
        <p class="err">{{ error }}</p>
    {% endif %}
    <form method="POST" action="{{ url_for('pass_control.reset_password', token=token) }}">
        <label>New password:</label><br>
        <input type="password" name="password" required id="password"><br>
        <span id="password-strength"></span><br>
        <label>Repeat password:</label><br>
        <input type="password" name="repeat_password" required><br>

        <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
        <input type="text" name="honeypot" class="honeypot">

        <button type="submit">Change password</button>
    </form>

    <script src="{{ url_for('static', filename='js/password_strength.js') }}"></script>

</body>
</html>
