<!DOCTYPE html>
<html>
<head>
    <title>Note</title>
</head>
<body>
    <h3>{{ note['title'] }}</h3>
    <p>by {{ note['username'] }}</p>
    <p>from {{ note['created_at'] }}</p>
    <div>
        <div>{{ note['note']|safe }}</div>
        <br>
        <a href="{{ url_for('notes.verify_note_signature', note_id=note['id']) }}">Verify signature</a> | 
        <a href="{{ url_for('notes.view_notes') }}">Back to Notes</a> | 
        <a href="{{ url_for('home.home') }}">Back to Home</a>
    </div>
</body>
</html>
